
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon iconfont icon-gongchengkuanmingxichaxun"></i>
                    <div class="name">待收付款项预测</div>
                    <div class="fontclass">.icon-gongchengkuanmingxichaxun</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fukuanzhunbeimingxichaxun"></i>
                    <div class="name">14付款查询</div>
                    <div class="fontclass">.icon-fukuanzhunbeimingxichaxun</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiaozugongzuofanwei"></i>
                    <div class="name">工作范围</div>
                    <div class="fontclass">.icon-xiaozugongzuofanwei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-faqifukuanzhunbei"></i>
                    <div class="name">待付款</div>
                    <div class="fontclass">.icon-faqifukuanzhunbei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhanglingtongji"></i>
                    <div class="name">统计</div>
                    <div class="fontclass">.icon-zhanglingtongji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yichuliyingxiang"></i>
                    <div class="name">已处理</div>
                    <div class="fontclass">.icon-yichuliyingxiang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gongzuorili"></i>
                    <div class="name">日历</div>
                    <div class="fontclass">.icon-gongzuorili</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-rengongxiaolvtongji"></i>
                    <div class="name">提升效率</div>
                    <div class="fontclass">.icon-rengongxiaolvtongji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-daisaomiaodanju"></i>
                    <div class="name">单据维护</div>
                    <div class="fontclass">.icon-daisaomiaodanju</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wodeshenqing"></i>
                    <div class="name">我的申请</div>
                    <div class="fontclass">.icon-wodeshenqing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gongxiangzhongxinchaxun"></i>
                    <div class="name">查询</div>
                    <div class="fontclass">.icon-gongxiangzhongxinchaxun</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yewuzhaodaifeimingxichaxun"></i>
                    <div class="name">list_库存明细查询</div>
                    <div class="fontclass">.icon-yewuzhaodaifeimingxichaxun</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-baoxiaodanjuzonghechaxun"></i>
                    <div class="name">查询</div>
                    <div class="fontclass">.icon-baoxiaodanjuzonghechaxun</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-renwuchijiankong"></i>
                    <div class="name">监控类型-修改</div>
                    <div class="fontclass">.icon-renwuchijiankong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fenxibaobiao"></i>
                    <div class="name">分析报表</div>
                    <div class="fontclass">.icon-fenxibaobiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-navicon-psf"></i>
                    <div class="name">配送费</div>
                    <div class="fontclass">.icon-navicon-psf</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jinshuixiangchaxun"></i>
                    <div class="name">税票融资</div>
                    <div class="fontclass">.icon-jinshuixiangchaxun</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-baozhangweidumingxi"></i>
                    <div class="name">无支付报账单</div>
                    <div class="fontclass">.icon-baozhangweidumingxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhunbeifukuan"></i>
                    <div class="name">付款通知</div>
                    <div class="fontclass">.icon-zhunbeifukuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fenzushezhi"></i>
                    <div class="name">分组</div>
                    <div class="fontclass">.icon-fenzushezhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dingbudaohang-shousuo"></i>
                    <div class="name">顶部导航-收缩</div>
                    <div class="fontclass">.icon-dingbudaohang-shousuo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dingbudaohang-zhankai"></i>
                    <div class="name">顶部导航-展开</div>
                    <div class="fontclass">.icon-dingbudaohang-zhankai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-erjidaohang-chuchashenqingchaxun"></i>
                    <div class="name">二级导航-出差申请查询</div>
                    <div class="fontclass">.icon-erjidaohang-chuchashenqingchaxun</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-erjidaohang-daishenpi"></i>
                    <div class="name">二级导航-待审批</div>
                    <div class="fontclass">.icon-erjidaohang-daishenpi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-erjidaohang-fukuangongzuotai"></i>
                    <div class="name">二级导航-付款工作台</div>
                    <div class="fontclass">.icon-erjidaohang-fukuangongzuotai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-erjidaohang-fukuanshenqing"></i>
                    <div class="name">二级导航-付款申请</div>
                    <div class="fontclass">.icon-erjidaohang-fukuanshenqing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-erjidaohang-daisaomiaochaxun"></i>
                    <div class="name">二级导航-待扫描查询</div>
                    <div class="fontclass">.icon-erjidaohang-daisaomiaochaxun</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-erjidaohang-gongyingshangbaozhangshenqing"></i>
                    <div class="name">二级导航-供应商报账申请</div>
                    <div class="fontclass">.icon-erjidaohang-gongyingshangbaozhangshenqing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-erjidaohang-jiehuankuanshenqing"></i>
                    <div class="name">二级导航-借还款申请</div>
                    <div class="fontclass">.icon-erjidaohang-jiehuankuanshenqing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-erjidaohang-weituoshouquan"></i>
                    <div class="name">二级导航-委托授权</div>
                    <div class="fontclass">.icon-erjidaohang-weituoshouquan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-erjidaohang-yishenpi"></i>
                    <div class="name">二级导航-已审批</div>
                    <div class="fontclass">.icon-erjidaohang-yishenpi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-erjidaohang-huijichuli"></i>
                    <div class="name">二级导航-会计处理</div>
                    <div class="fontclass">.icon-erjidaohang-huijichuli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-erjidaohang-piliangshenpi"></i>
                    <div class="name">二级导航-批量审批</div>
                    <div class="fontclass">.icon-erjidaohang-piliangshenpi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-erjidaohang-yisaomiaochaxun"></i>
                    <div class="name">二级导航-已扫描查询</div>
                    <div class="fontclass">.icon-erjidaohang-yisaomiaochaxun</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-erjidaohang-zichanbaozhang"></i>
                    <div class="name">二级导航-资产报账</div>
                    <div class="fontclass">.icon-erjidaohang-zichanbaozhang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-erjidaohang-yingxiangdaiban"></i>
                    <div class="name">二级导航-影像待办</div>
                    <div class="fontclass">.icon-erjidaohang-yingxiangdaiban</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-erjidaohang-zongzhangjiqita"></i>
                    <div class="name">二级导航-总账及其他</div>
                    <div class="fontclass">.icon-erjidaohang-zongzhangjiqita</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-erjidaohang-yuangongbaoxiaoshenqing"></i>
                    <div class="name">二级导航-员工报销申请</div>
                    <div class="fontclass">.icon-erjidaohang-yuangongbaoxiaoshenqing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-erjidaohang-chalvfeimingxichaxun"></i>
                    <div class="name">二级导航-差旅费明细查询</div>
                    <div class="fontclass">.icon-erjidaohang-chalvfeimingxichaxun</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yijidaohang-chaxuntongji"></i>
                    <div class="name">一级导航-查询统计</div>
                    <div class="fontclass">.icon-yijidaohang-chaxuntongji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yijidaohang-caiwubankuai"></i>
                    <div class="name">一级导航-财务板块</div>
                    <div class="fontclass">.icon-yijidaohang-caiwubankuai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dingbudaohang-shouye"></i>
                    <div class="name">顶部导航-首页</div>
                    <div class="fontclass">.icon-dingbudaohang-shouye</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yijidaohang-dianziyingxiang"></i>
                    <div class="name">一级导航-电子影像</div>
                    <div class="fontclass">.icon-yijidaohang-dianziyingxiang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yijidaohang-shenpiliucheng"></i>
                    <div class="name">一级导航-审批流程</div>
                    <div class="fontclass">.icon-yijidaohang-shenpiliucheng</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yijidaohang-feiyongshenqing"></i>
                    <div class="name">一级导航-费用申请</div>
                    <div class="fontclass">.icon-yijidaohang-feiyongshenqing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dingbudaohang-fantizhongwen"></i>
                    <div class="name">顶部导航-繁体中文</div>
                    <div class="fontclass">.icon-dingbudaohang-fantizhongwen</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjidaohang-bangonghangzhengbaozhang"></i>
                    <div class="name">三级导航-办公行政报账</div>
                    <div class="fontclass">.icon-sanjidaohang-bangonghangzhengbaozhang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjidaohang-bangonghangzhengbaoxiao"></i>
                    <div class="name">三级导航-办公行政报销</div>
                    <div class="fontclass">.icon-sanjidaohang-bangonghangzhengbaoxiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjidaohang-baozhengjinfukuan"></i>
                    <div class="name">三级导航-保证金付款</div>
                    <div class="fontclass">.icon-sanjidaohang-baozhengjinfukuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjidaohang-baoxiaoshiqianshenqing"></i>
                    <div class="name">三级导航-报销事前申请</div>
                    <div class="fontclass">.icon-sanjidaohang-baoxiaoshiqianshenqing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjidaohang-baozhengjinyajin"></i>
                    <div class="name">三级导航-保证金押金</div>
                    <div class="fontclass">.icon-sanjidaohang-baozhengjinyajin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjidaohang-caiwufeiyong"></i>
                    <div class="name">三级导航-财务费用</div>
                    <div class="fontclass">.icon-sanjidaohang-caiwufeiyong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjidaohang-gongsijiehuankuan"></i>
                    <div class="name">三级导航-公司借还款</div>
                    <div class="fontclass">.icon-sanjidaohang-gongsijiehuankuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjidaohang-feiyongjitijitanxiao"></i>
                    <div class="name">三级导航-费用计提及摊销</div>
                    <div class="fontclass">.icon-sanjidaohang-feiyongjitijitanxiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjidaohang-neibuwanglai"></i>
                    <div class="name">三级导航-内部往来</div>
                    <div class="fontclass">.icon-sanjidaohang-neibuwanglai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjidaohang-qitafeiyongbaozhang"></i>
                    <div class="name">三级导航-其他费用报账</div>
                    <div class="fontclass">.icon-sanjidaohang-qitafeiyongbaozhang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjidaohang-gongyingshangyufukuan"></i>
                    <div class="name">三级导航-供应商预付款</div>
                    <div class="fontclass">.icon-sanjidaohang-gongyingshangyufukuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjidaohang-touzi"></i>
                    <div class="name">三级导航-投资</div>
                    <div class="fontclass">.icon-sanjidaohang-touzi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjidaohang-shangwuchengbenbaozhang"></i>
                    <div class="name">三级导航-商务成本报账</div>
                    <div class="fontclass">.icon-sanjidaohang-shangwuchengbenbaozhang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjidaohang-shuifei"></i>
                    <div class="name">三级导航-税费</div>
                    <div class="fontclass">.icon-sanjidaohang-shuifei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjidaohang-yingyewaishouzhi"></i>
                    <div class="name">三级导航-营业外收支</div>
                    <div class="fontclass">.icon-sanjidaohang-yingyewaishouzhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjidaohang-yuangongshangwubaoxiao"></i>
                    <div class="name">三级导航-员工商务报销</div>
                    <div class="fontclass">.icon-sanjidaohang-yuangongshangwubaoxiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjidaohang-zaijiangongchengzhuangu"></i>
                    <div class="name">三级导航-在建工程转固</div>
                    <div class="fontclass">.icon-sanjidaohang-zaijiangongchengzhuangu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjidaohang-zichanchushoubaoxupankui"></i>
                    <div class="name">三级导航-资产出售／报虚／盘亏</div>
                    <div class="fontclass">.icon-sanjidaohang-zichanchushoubaoxupankui</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjidaohang-zibenxingzhichubaozhang"></i>
                    <div class="name">三级导航-资本性支出报账</div>
                    <div class="fontclass">.icon-sanjidaohang-zibenxingzhichubaozhang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjidaohang-zichantiaobo"></i>
                    <div class="name">三级导航-资产调拨</div>
                    <div class="fontclass">.icon-sanjidaohang-zichantiaobo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjidaohang-zichangailiang"></i>
                    <div class="name">三级导航-资产改良</div>
                    <div class="fontclass">.icon-sanjidaohang-zichangailiang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjijidaohang-fulichengbenbaozhang"></i>
                    <div class="name">三级级导航-福利成本报账</div>
                    <div class="fontclass">.icon-sanjijidaohang-fulichengbenbaozhang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjidaohang-zichanqita"></i>
                    <div class="name">三级导航-资产其他</div>
                    <div class="fontclass">.icon-sanjidaohang-zichanqita</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjijidaohang-yuangongfulibaoxiao"></i>
                    <div class="name">三级级导航-员工福利报销</div>
                    <div class="fontclass">.icon-sanjijidaohang-yuangongfulibaoxiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjidaohang-jiehuankuanpingzheng"></i>
                    <div class="name">三级导航-借还款凭证</div>
                    <div class="fontclass">.icon-sanjidaohang-jiehuankuanpingzheng</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjijidaohang-yuangongjiehuankuan"></i>
                    <div class="name">三级级导航-员工借还款</div>
                    <div class="fontclass">.icon-sanjijidaohang-yuangongjiehuankuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bangongfei"></i>
                    <div class="name">办公费</div>
                    <div class="fontclass">.icon-bangongfei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-baozhuangfei"></i>
                    <div class="name">包装费</div>
                    <div class="fontclass">.icon-baozhuangfei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bangonghangzhengyongpinfei"></i>
                    <div class="name">办公行政用品费</div>
                    <div class="fontclass">.icon-bangonghangzhengyongpinfei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-baoxianfei"></i>
                    <div class="name">保险费</div>
                    <div class="fontclass">.icon-baoxianfei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-baoguanfei"></i>
                    <div class="name">报关费</div>
                    <div class="fontclass">.icon-baoguanfei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-anquanshengchan"></i>
                    <div class="name">安全生产</div>
                    <div class="fontclass">.icon-anquanshengchan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-cangchufei"></i>
                    <div class="name">仓储费</div>
                    <div class="fontclass">.icon-cangchufei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-caiwufeiyong-yinhangshouxufei"></i>
                    <div class="name">财务费用-银行手续费</div>
                    <div class="fontclass">.icon-caiwufeiyong-yinhangshouxufei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chalvshiqianshenqing"></i>
                    <div class="name">差旅事前申请</div>
                    <div class="fontclass">.icon-chalvshiqianshenqing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-changhuanduanqijiekuan-yinhangzidongkoukuan"></i>
                    <div class="name">偿还短期借款-银行自动扣款</div>
                    <div class="fontclass">.icon-changhuanduanqijiekuan-yinhangzidongkoukuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chalvfei"></i>
                    <div class="name">差旅费</div>
                    <div class="fontclass">.icon-chalvfei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-changhuanneibujiekuan"></i>
                    <div class="name">偿还内部借款</div>
                    <div class="fontclass">.icon-changhuanneibujiekuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sijidaohang-renzhengfei"></i>
                    <div class="name">四级导航-认证费</div>
                    <div class="fontclass">.icon-sijidaohang-renzhengfei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-changhuanduanqijiekuan"></i>
                    <div class="name">偿还短期借款</div>
                    <div class="fontclass">.icon-changhuanduanqijiekuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-changhuanchangqijiekuan-yinhangzidongkoukuan"></i>
                    <div class="name">偿还长期借款-银行自动扣款</div>
                    <div class="fontclass">.icon-changhuanchangqijiekuan-yinhangzidongkoukuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-changhuanchangqiqijiekuan"></i>
                    <div class="name">偿还长期期借款</div>
                    <div class="fontclass">.icon-changhuanchangqiqijiekuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-cunhuobaosunbaoyichuli"></i>
                    <div class="name">存货报损报溢处理</div>
                    <div class="fontclass">.icon-cunhuobaosunbaoyichuli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chushou"></i>
                    <div class="name">出售</div>
                    <div class="fontclass">.icon-chushou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-cunhuodiejia"></i>
                    <div class="name">存货跌价</div>
                    <div class="fontclass">.icon-cunhuodiejia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-cuxiaofeiyong"></i>
                    <div class="name">促销费用</div>
                    <div class="fontclass">.icon-cuxiaofeiyong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-cunhuopandianpankui"></i>
                    <div class="name">存货盘点 盘亏</div>
                    <div class="fontclass">.icon-cunhuopandianpankui</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-cunhuopandianpanying"></i>
                    <div class="name">存货盘点 盘盈</div>
                    <div class="fontclass">.icon-cunhuopandianpanying</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-diyanshouyi"></i>
                    <div class="name">递延收益</div>
                    <div class="fontclass">.icon-diyanshouyi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dailifei"></i>
                    <div class="name">代理费</div>
                    <div class="fontclass">.icon-dailifei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-duanqijiekuan"></i>
                    <div class="name">短期借款</div>
                    <div class="fontclass">.icon-duanqijiekuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-faqineibujiekuan"></i>
                    <div class="name">发起内部借款</div>
                    <div class="fontclass">.icon-faqineibujiekuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-feishenjifei"></i>
                    <div class="name">非审计费</div>
                    <div class="fontclass">.icon-feishenjifei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-feiyongyufukuan"></i>
                    <div class="name">费用预付款</div>
                    <div class="fontclass">.icon-feiyongyufukuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gouhui"></i>
                    <div class="name">购汇</div>
                    <div class="fontclass">.icon-gouhui</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-houxujiliangjiazhitiaozheng"></i>
                    <div class="name">后续计量价值调整</div>
                    <div class="fontclass">.icon-houxujiliangjiazhitiaozheng</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-goumai"></i>
                    <div class="name">购买</div>
                    <div class="fontclass">.icon-goumai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jitichechuanshui"></i>
                    <div class="name">计提车船税</div>
                    <div class="fontclass">.icon-jitichechuanshui</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jitichengjianshui"></i>
                    <div class="name">计提城建税</div>
                    <div class="fontclass">.icon-jitichengjianshui</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jitidiyansuoshuifuzhai"></i>
                    <div class="name">计提递延所税负债</div>
                    <div class="fontclass">.icon-jitidiyansuoshuifuzhai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jitidifangjiaoyufeifujia"></i>
                    <div class="name">计提地方教育费附加</div>
                    <div class="fontclass">.icon-jitidifangjiaoyufeifujia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jitijiaoyufeifujia"></i>
                    <div class="name">计提教育费附加</div>
                    <div class="fontclass">.icon-jitijiaoyufeifujia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jitifangchanshui"></i>
                    <div class="name">计提房产税</div>
                    <div class="fontclass">.icon-jitifangchanshui</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jitidiyansuoshuizichan"></i>
                    <div class="name">计提递延所税资产</div>
                    <div class="fontclass">.icon-jitidiyansuoshuizichan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jititudishiyongshui"></i>
                    <div class="name">计提土地使用税</div>
                    <div class="fontclass">.icon-jititudishiyongshui</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jitixiaofeishui"></i>
                    <div class="name">计提消费税</div>
                    <div class="fontclass">.icon-jitixiaofeishui</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jitizengzhishui"></i>
                    <div class="name">计提增值税</div>
                    <div class="fontclass">.icon-jitizengzhishui</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jitiqiyesuodeshui"></i>
                    <div class="name">计提企业所得税</div>
                    <div class="fontclass">.icon-jitiqiyesuodeshui</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jitizijinguijilixizhichu"></i>
                    <div class="name">计提资金归集利息支出</div>
                    <div class="fontclass">.icon-jitizijinguijilixizhichu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jiehui"></i>
                    <div class="name">结汇</div>
                    <div class="fontclass">.icon-jiehui</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-juanzengshouru"></i>
                    <div class="name">捐赠收入</div>
                    <div class="fontclass">.icon-juanzengshouru</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-juanzengzhichu"></i>
                    <div class="name">捐赠支出</div>
                    <div class="fontclass">.icon-juanzengzhichu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jiaonashuifei"></i>
                    <div class="name">缴纳税费</div>
                    <div class="fontclass">.icon-jiaonashuifei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-kuaidifei"></i>
                    <div class="name">快递费</div>
                    <div class="fontclass">.icon-kuaidifei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-laodongbaohufei"></i>
                    <div class="name">劳动保护费 2</div>
                    <div class="fontclass">.icon-laodongbaohufei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-laodongbaohufei1"></i>
                    <div class="name">劳动保护费</div>
                    <div class="fontclass">.icon-laodongbaohufei1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-lixishouru-neibucunkuan"></i>
                    <div class="name">利息收入-内部存款</div>
                    <div class="fontclass">.icon-lixishouru-neibucunkuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-lixishouru-yinhangcunkuan"></i>
                    <div class="name">利息收入-银行存款</div>
                    <div class="fontclass">.icon-lixishouru-yinhangcunkuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-lixishouru-zijinchicunkuan"></i>
                    <div class="name">利息收入-资金池存款</div>
                    <div class="fontclass">.icon-lixishouru-zijinchicunkuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jititudizengzhishui"></i>
                    <div class="name">计提土地增值税</div>
                    <div class="fontclass">.icon-jititudizengzhishui</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-neibudaidianfeiyong"></i>
                    <div class="name">内部代垫费用</div>
                    <div class="fontclass">.icon-neibudaidianfeiyong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-lvhuafei"></i>
                    <div class="name">绿化费</div>
                    <div class="fontclass">.icon-lvhuafei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-neibujiekuanjixi-zhaiquanfang"></i>
                    <div class="name">内部借款计息-债权方</div>
                    <div class="fontclass">.icon-neibujiekuanjixi-zhaiquanfang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-neibuwanglaiguazhang"></i>
                    <div class="name">内部往来挂账</div>
                    <div class="fontclass">.icon-neibuwanglaiguazhang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-neibujiekuanjixi-zhaiwufang"></i>
                    <div class="name">内部借款计息-债务方</div>
                    <div class="fontclass">.icon-neibujiekuanjixi-zhaiwufang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-neibujiekuanshouxi"></i>
                    <div class="name">内部借款收息</div>
                    <div class="fontclass">.icon-neibujiekuanshouxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-peichangshouru"></i>
                    <div class="name">赔偿收入</div>
                    <div class="fontclass">.icon-peichangshouru</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qijianfeiyongfentan"></i>
                    <div class="name">期间费用分摊</div>
                    <div class="fontclass">.icon-qijianfeiyongfentan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-neibuyinhangzhanghuhuazhuan"></i>
                    <div class="name">内部银行账户划转</div>
                    <div class="fontclass">.icon-neibuyinhangzhanghuhuazhuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qitatiaozheng"></i>
                    <div class="name">其他调整</div>
                    <div class="fontclass">.icon-qitatiaozheng</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qitaxinzeng"></i>
                    <div class="name">其他新增</div>
                    <div class="fontclass">.icon-qitaxinzeng</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qitayewuchengben"></i>
                    <div class="name">其他业务成本</div>
                    <div class="fontclass">.icon-qitayewuchengben</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qitayingshoukuanhuaizhangzhunbei"></i>
                    <div class="name">其他应收款坏账准备</div>
                    <div class="fontclass">.icon-qitayingshoukuanhuaizhangzhunbei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-querenqitayingshoukuanhuaizhang"></i>
                    <div class="name">确认其他应收款坏账</div>
                    <div class="fontclass">.icon-querenqitayingshoukuanhuaizhang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-querenyingshouzhangkuanhuaizhang"></i>
                    <div class="name">确认应收账款坏账</div>
                    <div class="fontclass">.icon-querenyingshouzhangkuanhuaizhang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qudeneibujiekuan"></i>
                    <div class="name">取得内部借款</div>
                    <div class="fontclass">.icon-qudeneibujiekuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-ruanjianfuwufei"></i>
                    <div class="name">软件服务费</div>
                    <div class="fontclass">.icon-ruanjianfuwufei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shangjianfei"></i>
                    <div class="name">商检费</div>
                    <div class="fontclass">.icon-shangjianfei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shangxiayouyewufakuan"></i>
                    <div class="name">上下游业务罚款</div>
                    <div class="fontclass">.icon-shangxiayouyewufakuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shetuanfei"></i>
                    <div class="name">社团费</div>
                    <div class="fontclass">.icon-shetuanfei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shebaogongjijin"></i>
                    <div class="name">社保公积金</div>
                    <div class="fontclass">.icon-shebaogongjijin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shiyanjianyanfei"></i>
                    <div class="name">试验检验费</div>
                    <div class="fontclass">.icon-shiyanjianyanfei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouhuihuaizhang"></i>
                    <div class="name">收回坏账</div>
                    <div class="fontclass">.icon-shouhuihuaizhang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shoudaoguxi"></i>
                    <div class="name">收到股息</div>
                    <div class="fontclass">.icon-shoudaoguxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouji"></i>
                    <div class="name">手机</div>
                    <div class="fontclass">.icon-shouji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouquyajin"></i>
                    <div class="name">收取押金</div>
                    <div class="fontclass">.icon-shouquyajin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouqubaozhengjin"></i>
                    <div class="name">收取保证金</div>
                    <div class="fontclass">.icon-shouqubaozhengjin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouhuineibujiekuan"></i>
                    <div class="name">收回内部借款</div>
                    <div class="fontclass">.icon-shouhuineibujiekuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shuidianqifei"></i>
                    <div class="name">水电气费</div>
                    <div class="fontclass">.icon-shuidianqifei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sijidaohang-cheliangfeiyong"></i>
                    <div class="name">四级导航-车辆费用 2</div>
                    <div class="fontclass">.icon-sijidaohang-cheliangfeiyong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shuijin"></i>
                    <div class="name">税金</div>
                    <div class="fontclass">.icon-shuijin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sijidaohang-cheliangfeiyong1"></i>
                    <div class="name">四级导航-车辆费用</div>
                    <div class="fontclass">.icon-sijidaohang-cheliangfeiyong1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sijidaohang-guanggaoxuanchuanfei"></i>
                    <div class="name">四级导航-广告宣传费</div>
                    <div class="fontclass">.icon-sijidaohang-guanggaoxuanchuanfei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sijidaohang-huiyifei"></i>
                    <div class="name">四级导航-会议费</div>
                    <div class="fontclass">.icon-sijidaohang-huiyifei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sijidaohang-jiaotongfei"></i>
                    <div class="name">四级导航-交通费</div>
                    <div class="fontclass">.icon-sijidaohang-jiaotongfei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sijidaohang-tongxunfei"></i>
                    <div class="name">四级导航-通讯费</div>
                    <div class="fontclass">.icon-sijidaohang-tongxunfei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sijidaohang-peixunfei"></i>
                    <div class="name">四级导航-培训费</div>
                    <div class="fontclass">.icon-sijidaohang-peixunfei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sijidaohang-shichangtuiguangfei"></i>
                    <div class="name">四级导航-市场推广费</div>
                    <div class="fontclass">.icon-sijidaohang-shichangtuiguangfei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sijidaohang-zhaobiaofei"></i>
                    <div class="name">四级导航-招标费</div>
                    <div class="fontclass">.icon-sijidaohang-zhaobiaofei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sijidaohang-yewuzhaodaifei"></i>
                    <div class="name">四级导航-业务招待费</div>
                    <div class="fontclass">.icon-sijidaohang-yewuzhaodaifei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sijidaohang-zhigongjiaoyujingfei"></i>
                    <div class="name">四级导航-职工教育经费</div>
                    <div class="fontclass">.icon-sijidaohang-zhigongjiaoyujingfei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sijidaohang-zonghefulibutie"></i>
                    <div class="name">四级导航-综合福利补贴</div>
                    <div class="fontclass">.icon-sijidaohang-zonghefulibutie</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-waibujiekuanfuxi"></i>
                    <div class="name">外部借款付息</div>
                    <div class="fontclass">.icon-waibujiekuanfuxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tuihuigeleibaozhengjinjiyajin"></i>
                    <div class="name">退回各类保证金及押金</div>
                    <div class="fontclass">.icon-tuihuigeleibaozhengjinjiyajin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-waibujiekuanjixi"></i>
                    <div class="name">外部借款计息</div>
                    <div class="fontclass">.icon-waibujiekuanjixi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-weixiubaoyangfei"></i>
                    <div class="name">维修保养费</div>
                    <div class="fontclass">.icon-weixiubaoyangfei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wushuichulifei"></i>
                    <div class="name">污水处理费</div>
                    <div class="fontclass">.icon-wushuichulifei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sunhaopinfeiyong"></i>
                    <div class="name">损耗品费用</div>
                    <div class="fontclass">.icon-sunhaopinfeiyong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-hangzhengshoufei"></i>
                    <div class="name">行政收费</div>
                    <div class="fontclass">.icon-hangzhengshoufei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yingshouzhangkuanhuaizhangzhunbei"></i>
                    <div class="name">应收账款坏账准备</div>
                    <div class="fontclass">.icon-yingshouzhangkuanhuaizhangzhunbei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yuangongjiekuan"></i>
                    <div class="name">员工借款</div>
                    <div class="fontclass">.icon-yuangongjiekuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yangpinfei"></i>
                    <div class="name">样品费</div>
                    <div class="fontclass">.icon-yangpinfei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yuangongxianjinhuankuan"></i>
                    <div class="name">员工现金还款</div>
                    <div class="fontclass">.icon-yuangongxianjinhuankuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yuangongzhuanzhanghuankuan"></i>
                    <div class="name">员工转账还款</div>
                    <div class="fontclass">.icon-yuangongzhuanzhanghuankuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yunshufei"></i>
                    <div class="name">运输费</div>
                    <div class="fontclass">.icon-yunshufei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zaijiangongchengzhuangu"></i>
                    <div class="name">在建工程转固</div>
                    <div class="fontclass">.icon-zaijiangongchengzhuangu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhanlanfei"></i>
                    <div class="name">展览费</div>
                    <div class="fontclass">.icon-zhanlanfei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zengzhishuijinxiangshuizhuanchu"></i>
                    <div class="name">增值税进项税转出</div>
                    <div class="fontclass">.icon-zengzhishuijinxiangshuizhuanchu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-changqijiekuan"></i>
                    <div class="name">长期借款</div>
                    <div class="fontclass">.icon-changqijiekuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhaopinfei"></i>
                    <div class="name">招聘费</div>
                    <div class="fontclass">.icon-zhaopinfei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhifubaozhengjin"></i>
                    <div class="name">支付保证金</div>
                    <div class="fontclass">.icon-zhifubaozhengjin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhifuguxi"></i>
                    <div class="name">支付股息</div>
                    <div class="fontclass">.icon-zhifuguxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhifuneibujiekuanlixi"></i>
                    <div class="name">支付内部借款利息</div>
                    <div class="fontclass">.icon-zhifuneibujiekuanlixi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhifushuishoufakuanjizhinajin"></i>
                    <div class="name">支付税收罚款及滞纳金</div>
                    <div class="fontclass">.icon-zhifushuishoufakuanjizhinajin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhifuxianjinzhekou"></i>
                    <div class="name">支付现金折扣</div>
                    <div class="fontclass">.icon-zhifuxianjinzhekou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhifuwaibujiekuanlixi"></i>
                    <div class="name">支付外部借款利息</div>
                    <div class="fontclass">.icon-zhifuwaibujiekuanlixi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhifutouzikuan"></i>
                    <div class="name">支付投资款</div>
                    <div class="fontclass">.icon-zhifutouzikuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhuanyejigoufei"></i>
                    <div class="name">专业机构费</div>
                    <div class="fontclass">.icon-zhuanyejigoufei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhifuzijinchicunkuanlixi"></i>
                    <div class="name">支付资金池存款利息</div>
                    <div class="fontclass">.icon-zhifuzijinchicunkuanlixi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhuangxieboyunfei"></i>
                    <div class="name">装卸驳运费</div>
                    <div class="fontclass">.icon-zhuangxieboyunfei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zichanchuzhi"></i>
                    <div class="name">资产处置</div>
                    <div class="fontclass">.icon-zichanchuzhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zichantiaobosvg"></i>
                    <div class="name">资产调拨svg</div>
                    <div class="fontclass">.icon-zichantiaobosvg</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zichancaigou"></i>
                    <div class="name">资产采购</div>
                    <div class="fontclass">.icon-zichancaigou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zichanjigai"></i>
                    <div class="name">资产技改</div>
                    <div class="fontclass">.icon-zichanjigai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zichanjianzhibaozhangdan"></i>
                    <div class="name">资产减值报账单</div>
                    <div class="fontclass">.icon-zichanjianzhibaozhangdan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zijinguiji-xiabo"></i>
                    <div class="name">资金归集-下拨</div>
                    <div class="fontclass">.icon-zijinguiji-xiabo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zulinfeiyong"></i>
                    <div class="name">租赁费用</div>
                    <div class="fontclass">.icon-zulinfeiyong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zichanpandianbaozhangdan"></i>
                    <div class="name">资产盘点报账单</div>
                    <div class="fontclass">.icon-zichanpandianbaozhangdan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhengfubuzhu"></i>
                    <div class="name">政府补助</div>
                    <div class="fontclass">.icon-zhengfubuzhu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dingbudaohang-tuichuxitong"></i>
                    <div class="name">顶部导航-退出系统</div>
                    <div class="fontclass">.icon-dingbudaohang-tuichuxitong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dingbudaohang-jiantizhongwen"></i>
                    <div class="name">顶部导航-简体中文</div>
                    <div class="fontclass">.icon-dingbudaohang-jiantizhongwen</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dingbudaohang-bangzhusvg"></i>
                    <div class="name">顶部导航-帮助svg</div>
                    <div class="fontclass">.icon-dingbudaohang-bangzhusvg</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dingbudaohang-yingwen"></i>
                    <div class="name">顶部导航-英文</div>
                    <div class="fontclass">.icon-dingbudaohang-yingwen</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shuangjiantou"></i>
                    <div class="name">双箭头</div>
                    <div class="fontclass">.icon-shuangjiantou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jinefuchuangicon"></i>
                    <div class="name">金额浮窗icon</div>
                    <div class="fontclass">.icon-jinefuchuangicon</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhengzaichuli"></i>
                    <div class="name">正在处理</div>
                    <div class="fontclass">.icon-zhengzaichuli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yichuli"></i>
                    <div class="name">已处理</div>
                    <div class="fontclass">.icon-yichuli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-weichuli"></i>
                    <div class="name">未处理</div>
                    <div class="fontclass">.icon-weichuli</div>
                </li>
            
        </ul>

        <h2 id="font-class-">font-class引用</h2>
        <hr>

        <p>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</p>
        <p>与unicode使用方式相比，具有如下特点：</p>
        <ul>
        <li>兼容性良好，支持ie8+，及所有现代浏览器。</li>
        <li>相比于unicode语意明确，书写更直观。可以很容易分辨这个icon是什么。</li>
        <li>因为使用class来定义图标，所以当要替换图标时，只需要修改class里面的unicode引用。</li>
        <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的fontclass代码：</h3>


        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;link rel="stylesheet" type="text/css" href="./iconfont.css"&gt;</span></code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-css hljs">&lt;<span class="hljs-selector-tag">i</span> <span class="hljs-selector-tag">class</span>="<span class="hljs-selector-tag">iconfont</span> <span class="hljs-selector-tag">icon-xxx</span>"&gt;&lt;/<span class="hljs-selector-tag">i</span>&gt;</code></pre>
        <blockquote>
        <p>"iconfont"是你项目下的font-family。可以通过编辑项目查看，默认是"iconfont"。</p>
        </blockquote>
    </div>
</body>
</html>
